<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Audio Plugin</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string>QSAudioAction</string>
	<key>QSActions</key>
	<dict>
		<key>QSMatchTrackSampleRateAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSAudioAction</string>
			<key>actionSelector</key>
			<string>matchTrackSampleRate:</string>
			<key>commandFormat</key>
			<string>Match Output Sample Rate to %@</string>
			<key>directTypes</key>
			<array>
				<string>com.apple.itunes.track</string>
			</array>
			<key>displaysResult</key>
			<false/>
			<key>icon</key>
			<string>QSAudioSampleRate</string>
			<key>name</key>
			<string>Set Output Sample Rate to Match</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>QSSelectAudioInputAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSAudioAction</string>
			<key>actionSelector</key>
			<string>selectAudioInput:</string>
			<key>commandFormat</key>
			<string>Use %@ for Audio Input</string>
			<key>directTypes</key>
			<array>
				<string>QSAudioInputType</string>
			</array>
			<key>displaysResult</key>
			<false/>
			<key>name</key>
			<string>Select Input Device</string>
			<key>precedence</key>
			<real>1.8</real>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>QSSelectAudioOutputAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSAudioAction</string>
			<key>actionSelector</key>
			<string>selectAudioOutput:</string>
			<key>commandFormat</key>
			<string>Use %@ for Audio Output</string>
			<key>directTypes</key>
			<array>
				<string>QSAudioOutputType</string>
			</array>
			<key>displaysResult</key>
			<false/>
			<key>name</key>
			<string>Select Output Device</string>
			<key>precedence</key>
			<real>1.8</real>
			<key>validatesObjects</key>
			<false/>
		</dict>
	</dict>
	<key>QSLoadImmediately</key>
	<true/>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Rob McBroom</string>
		<key>categories</key>
		<array>
			<string>Music</string>
			<string>System</string>
			<string>Audio</string>
		</array>
		<key>description</key>
		<string>Adjust macOS audio devices</string>
		<key>extendedDescription</key>
		<string>&lt;h1&gt;Audio Plugin&lt;/h1&gt;
&lt;h2&gt;Overview&lt;/h2&gt;
&lt;p&gt;This plugin adds your audio devices (input and output) to Quicksilver’s catalog and allows you to set which is active. You can also adjust the sample rate of any discovered device, which saves you from having to do it manually in the Audio MIDI Setup utility.&lt;/p&gt;
&lt;p&gt;Using this plugin along with the iTunes and Event Triggers plugins, you can automatically adjust the sample rate of your output device to match the currently playing track.&lt;/p&gt;
&lt;h2&gt;Actions&lt;/h2&gt;
&lt;dl&gt;
&lt;dt&gt;Select Input Device&lt;/dt&gt;
&lt;dd&gt;Change the active input to the device in the first pane&lt;/dd&gt;
&lt;dt&gt;Select Output Device&lt;/dt&gt;
&lt;dd&gt;Change the active output to the device in the first pane&lt;/dd&gt;
&lt;dt&gt;Set Sample Rate to ??? kHz&lt;/dt&gt;
&lt;dd&gt;With an audio device selected in the first pane, the sample rate can be set to a specific value. The available sample rate actions will vary, depending on the rates supported by the device.&lt;/dd&gt;
&lt;dt&gt;Set Output Sample Rate to Match&lt;/dt&gt;
&lt;dd&gt;Set the sample rate of the current output device to match the audio track selected in the first pane.&lt;/dd&gt;
&lt;/dl&gt;
&lt;p&gt;This is mainly intended to be used in a trigger with the “Currently Playing Track” proxy object. If the target sample rate is not supported by the device, nothing happens.&lt;/p&gt;
&lt;h2&gt;Automatically Adjusting Sample Rate&lt;/h2&gt;
&lt;p&gt;To make sure the sample rate of your output device always matches the sample rate of the music you’re listening to:&lt;/p&gt;
&lt;ol&gt;
&lt;li&gt;Install the iTunes plugin&lt;/li&gt;
&lt;li&gt;Install the Event Triggers plugin&lt;/li&gt;
&lt;li&gt;In Quicksilver’s Triggers preferences, create a new Event Trigger&lt;/li&gt;
&lt;li&gt;Select “Event Trigger Object” in the first pane&lt;/li&gt;
&lt;li&gt;Select the “Set Output Sample Rate to Match” action in the second pane&lt;/li&gt;
&lt;li&gt;Save the trigger&lt;/li&gt;
&lt;li&gt;In the trigger’s settings, choose the “iTunes Track Changed” event&lt;/li&gt;
&lt;/ol&gt;
&lt;p&gt;This plug-in uses icons from the &lt;a href="https://sourceforge.net/projects/openiconlibrary/"&gt;Open Icon Library&lt;/a&gt;.&lt;/p&gt;</string>
		<key>icon</key>
		<string>QSAudioSystem</string>
	</dict>
	<key>QSPresetAdditions</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSAudioDevicesPreset</string>
			<key>enabled</key>
			<true/>
			<key>icon</key>
			<string>QSAudioSystem</string>
			<key>name</key>
			<string>Audio Devices</string>
			<key>source</key>
			<string>QSAudioSource</string>
		</dict>
	</array>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>QSAudioAction</key>
			<string>QSAudioAction</string>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>QSAudioInputType</key>
			<string>QSAudioSource</string>
			<key>QSAudioOutputType</key>
			<string>QSAudioSource</string>
		</dict>
		<key>QSObjectSources</key>
		<dict>
			<key>QSAudioSource</key>
			<string>QSAudioSource</string>
		</dict>
		<key>QSProxies</key>
		<dict>
			<key>QSAudioCurrentInputProxy</key>
			<dict>
				<key>name</key>
				<string>Current Audio Input Device</string>
				<key>providerClass</key>
				<string>QSAudioSource</string>
				<key>types</key>
				<array>
					<string>QSAudioInputType</string>
				</array>
			</dict>
			<key>QSAudioCurrentOutputProxy</key>
			<dict>
				<key>name</key>
				<string>Current Audio Output Device</string>
				<key>providerClass</key>
				<string>QSAudioSource</string>
				<key>types</key>
				<array>
					<string>QSAudioOutputType</string>
				</array>
			</dict>
		</dict>
		<key>QSTriggerEvents</key>
		<dict>
			<key>QSAudioDeviceAddedEvent</key>
			<dict>
				<key>allowMatching</key>
				<true/>
				<key>icon</key>
				<string>QSAudioSystem</string>
				<key>name</key>
				<string>Audio Device Connected</string>
				<key>provider</key>
				<string>QSAudioSource</string>
				<key>type</key>
				<string>Hardware</string>
			</dict>
			<key>QSAudioDeviceRemovedEvent</key>
			<dict>
				<key>allowMatching</key>
				<true/>
				<key>icon</key>
				<string>QSAudioSystem</string>
				<key>name</key>
				<string>Audio Device Removed</string>
				<key>provider</key>
				<string>QSAudioSource</string>
				<key>type</key>
				<string>Hardware</string>
			</dict>
		</dict>
		<key>QSTypeDefinitions</key>
		<dict>
			<key>QSAudioInputType</key>
			<dict>
				<key>icon</key>
				<string>QSAudioInputDevice</string>
				<key>name</key>
				<string>Audio Input Devices</string>
			</dict>
			<key>QSAudioOutputType</key>
			<dict>
				<key>icon</key>
				<string>QSAudioOutputDevice</string>
				<key>name</key>
				<string>Audio Output Devices</string>
			</dict>
			<key>QSAudioSampleRateType</key>
			<dict>
				<key>icon</key>
				<string>QSAudioSampleRate</string>
				<key>name</key>
				<string>Audio Sample Rate</string>
			</dict>
			<key>QSAudioSystemType</key>
			<dict>
				<key>icon</key>
				<string>QSAudioSystem</string>
				<key>name</key>
				<string>System Audio Output Devices</string>
			</dict>
		</dict>
	</dict>
	<key>QSRequirements</key>
	<dict>
		<key>version</key>
		<string>4023</string>
	</dict>
	<key>QSResourceAdditions</key>
	<dict>
		<key>QSAudioInputDevice</key>
		<dict>
			<key>bundle</key>
			<string>com.qsapp.AudioPlugin</string>
			<key>resource</key>
			<string>microphone.png</string>
		</dict>
		<key>QSAudioOutputDevice</key>
		<dict>
			<key>bundle</key>
			<string>com.qsapp.AudioPlugin</string>
			<key>resource</key>
			<string>speaker.png</string>
		</dict>
		<key>QSAudioSampleRate</key>
		<dict>
			<key>bundle</key>
			<string>com.qsapp.AudioPlugin</string>
			<key>resource</key>
			<string>sample-rate.png</string>
		</dict>
		<key>QSAudioSystem</key>
		<dict>
			<key>bundle</key>
			<string>com.qsapp.AudioPlugin</string>
			<key>resource</key>
			<string>audio.png</string>
		</dict>
	</dict>
</dict>
</plist>
